<?xml version="1.0" encoding="utf-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- 用记事本打开后注意保存格式为utf8 -->
<Config PATH="path" FPS="60" UIPath="UI/" SpritePath="Pictures/BG/" AudioClipPath="Sound/" PreparePath="Prepare/" WritePath="null" Language="Chinese" ModelPath="Charator/" DataPath="DataXML/" DataTransportPath="Charator/Animator/" AnimatiorControllerPath="\DataTransport\DataTransport.exe" TestModelName="man_Tpose_scale18" MotiveMachineIP="192.168.1.100" LocalIPv4Address="192.168.1.100" ClientCount="3">
	<ClientModelList>
		<man_Tpose_scale18/>
		<rabbit_Tpose_scale_175/>
		<man_scale_arm/>
	</ClientModelList>
	<RigidbodyModelList>
		<Gun/>
		<Chair/>
		<Torch/>
		<Earth/>
	</RigidbodyModelList>
	<ClientList>
		<P1>man_Tpose_scale18</P1>
		<P2>man_Tpose_scale18</P2>
		<P3>man_Tpose_scale18</P3>
		<P4>man_Tpose_scale18</P4>
		<P5>man_Tpose_scale18</P5>
		<P6>man_Tpose_scale18</P6>
	</ClientList>
	<RigidbodyList>
		<Gun>Gun</Gun>
		<Gun1>Gun</Gun1>
		<Gun2>Gun</Gun2>
		<Gun3>Gun</Gun3>
		<Gun4>Gun</Gun4>
		<Gun5>Gun</Gun5>
		<Gun6>Gun</Gun6>
		<Chair>Chair</Chair>
		<Torch>Torch</Torch>
		<Torch1>Torch</Torch1>
		<Torch2>Torch</Torch2>
		<Torch3>Torch</Torch3>
		<Earth>Earth</Earth>
	</RigidbodyList>
	<ClientPD>
		<P1>Normal</P1>
		<P2>Normal</P2>
		<P3>Normal</P3>
		<P4>Normal</P4>
		<P5>Normal</P5>
		<P6>Normal</P6>
	</ClientPD>
	<Guns>
		<P1>Gun1</P1>
		<P2>Gun2</P2>
		<P3>Gun3</P3>
		<P4>Gun4</P4>
		<P5>Gun5</P5>
		<P6>Gun6</P6>
	</Guns>
</Config>
